<!doctype html>
<html>
  <head>
    <title>Spam Email Detection</title>
    <style>
      body {
        font-family: Arial;
        text-align: center;
        margin-top: 50px;
        background-color: #f2f2f2;
      }

      textarea {
        width: 400px;
        height: 150px;
      }

      button {
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border: none;
      }
    </style>
  </head>
  <body>
    <h1>Spam Email Detection App</h1>

    <form action="/predict" method="post">
      <textarea name="email" placeholder="Enter email text here"></textarea>
      <br /><br />
      <button type="submit">Predict</button>
    </form>

    <h2>{{ prediction_text }}</h2>
  </body>
</html>
